temp.py
temp.ipynb
Orientation/Orientation Session and Introduction to problem solving.pdf
Orientation.PNG
Capture.PNG
cap 2.PNG
collections_deque_methods.tex
collections_deque_python.pdf
Contest time.PNG
Lec 1 - Complexity 101  Beating the Time Limit.pdf

.*pdf
.*csv
.*PNG